.app-artist{

	.artist-cover{
		display:block;
		width:100%;
		height:500px !important;
		background-position:center;
		background-size:cover;
		background-repeat:no-repeat;
		//background-attachment:fixed;
		position:relative;
		color:#FFF;

		&-wrapper{ position:relative; width:100%; height:100%; background:url("/images/app/header-overlay.png") repeat-x center bottom; }
		.container{
			position:absolute;
			bottom:20px;
			margin:auto;
			left:0;
			right:0;

			h2{
				float:left;

				.artist-name{
					font-size:@defaultTextFatSize;
					font-weight:300;
				}
				.artist-type{
					font-size:@defaultTextMediumSize;
					color:@defaultSubTextColor;
					font-weight:300;
					vertical-align:3px;
					margin-left:10px;
				}
			}

			span.artist-rating{
				font-size:@defaultTextMediumSize;
				float:right;
				margin-top:35px;
			}
		}


	}

	.container{ width:900px; }

	.artist-bio{
		margin:50px 0;
		text-align:justify;
	}

	.artist-popular{
		font-weight:300;
		font-size:@defaultTextLargeSize !important;
		padding:0 !important;
	}

	ul.inline-items-list{
		padding-left:0;
		margin-bottom:50px;
	}

}
