/**
 * Oddly main less file
 * Put all your vars & funcs in here bitches
 *
 * Summary :
 *
 * 1. Vars
 *	1.1 Colors
 *	1.2 Sizes
 *  1.3 Media
 * 2. Mixins
 * 3. UI
 *  3.1. Buttons
 *  3.2. Inputs
 * 4. Useful class
 */


	/* 1. VARS */

		/* 1.1. COLORS */
		@defaultTextColor: 	#FFFFFF;

		@uiGreen: 			#59e2b0;
		@uiGreenDarker:		#4fc99d;
		@uiGreenBrighter:	#76e2bb;

		@uiRed:				#eb847a;
		@uiRedDarker:		#c06a4e;
		@uiRedBrighter:		#eb9a93;

		@uiBlue:			#53b3d1;
		@uiBlueDarker:		#2980b9;
		@uiBlueBrighter:	#6aaedb;

		@uiGrey:			#929292; //old -> #bdc3c7;
		@uiGreyDarker:		#7f8c8d;
		@uiGreyBrighter:	#ecf0f1;

		@uiAbstractGrey:	#ecf0f1;

		@uiBlack:			#2c3e50;
		@uiBlackDarker:		#212f3c;
		@uiBlackBrighter:	#34495e;

		@uiEvil:			#1b1d20;
		@uiEvilBrighter:	#212327;
		@uiEvilDarker:		#16171a;

		@uiHeaven:			#53b3d1;


		/* 1.2. SIZES */
		@defaultTextSmallSize:	14px;
		@defaultTextSize: 		16px;
		@defaultTextMediumSize:	18px;
		@defaultTextLargeSize:	20px;
		@defaultTextFatSize:	40px;
		@defaultTextWeight:		300;
		@defaultIconSize:		16px;


		/* 1.3 MEDIA */
		@mobile: ~"screen and (max-width: 640px)";


	/* 2. MIXINS */
	.gradient(@start, @end){
		background:   @start; /* Old browsers */
		background:   -moz-linear-gradient(top,  @start 0%, @end 100%); /* FF3.6+ */
		background:   -webkit-gradient(linear, left top, left bottom, color-stop(0%,@start), color-stop(100%,@end)); /* Chrome,Safari4+ */
		background:   -webkit-linear-gradient(top,  @start 0%,@end 100%); /* Chrome10+,Safari5.1+ */
		background:   -o-linear-gradient(top,  @start 0%,@end 100%); /* Opera 11.10+ */
		background:   -ms-linear-gradient(top,  @start 0%,@end 100%); /* IE10+ */
		background:   linear-gradient(to bottom,  @start 0%,@end 100%); /* W3C */
		filter:	   progid:DXImageTransform.Microsoft.gradient( startColorstr='@start', endColorstr='@end',GradientType=0 ); /* IE6-9 */
	}

	.box-shadow (@args) {
		-webkit-box-shadow: @args;
		-moz-box-shadow: @args;
		box-shadow: @args;
	}

	.text-shadow (@args) {
		-webkit-text-shadow: @args;
		-moz-text-shadow: @args;
		text-shadow: @args;
	}

	.border-radius(@args){
		-webkit-border-radius: @args;
		-moz-border-radius: @args;
		border-radius: @args;
	}

	.full-width-background(@url){
		background-image: url(@url);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	.full-width-contain-background(@url){
		background-image: url(@url);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}

	.header-logo(@width, @height, @image){
		width:@width;
		height:@height;
		background-image:url(@image);
		background-repeat:no-repeat;
		text-indent:-9999px;
	}

	.absolute-center{
		position:absolute;
		top:0;
		left:0;
		bottom:0;
		right:0;
		margin:auto;
	}

	.transition(@transition) {
		-webkit-transition: @transition;
		-moz-transition:    @transition;
		-ms-transition:     @transition;
		-o-transition:      @transition;
		transition:			@transition;
	}

	.transform(@transform) {
		-webkit-transform: 	@transform;
		-moz-transform:		@transform;
		-ms-transform:		@transform;
		-o-transform:		@transform;
		transform:			@transform;
	}


	.font-awesome(@icon, @size, @color){
		display:block;
		content:@icon;
		font-family:"FontAwesome";
		font-size:@size;
		color:@color;
	}

	.text-overflow(@arg){
		-webkit-text-overflow:	@arg;
		-moz-text-overflow:		@arg;
		-ms-text-overflow:		@arg;
		-o-text-overflow:		@arg;
		text-overflow:			@arg;
	}

	.flexbox(){
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	}

	.flex(@values) {
		-webkit-box-flex:	@values;
		-moz-box-flex:		@values;
		-webkit-flex:		@values;
		-ms-flex:			@values;
		flex:				@values;
	}

	.flex_direction(@values) {
		-webkit-flex-direction:	@values;
		-moz-flex-direction:	@values;
		-ms-flex-direction:		@values;
		-o-flex-direction:		@values;
		flex-direction:			@values;
	}

	.flex_flow(@values){
		-webkit-flex-flow:	@values;
		-moz-flex-flow:		@values;
		-ms-flex-flow:		@values;
		-o-flex-flow:		@values;
		flex-flow:			@values;
	}

	.flex_order(@val){
		-webkit-box-ordinal-group:	@val;
		-moz-box-ordinal-group:		@val;
		-ms-flex-order:				@val;
		-webkit-order:				@val;
		order:						@val;
	}

	.flex_justify(@val){
		-webkit-justify-content:	@val;
		justify-content: 			@val;
	}


	/* 3. UI */


		/* 3.1. BUTTONS */
		.ui-button{
			display:inline-block;
			text-decoration:none;
			cursor:pointer;
			.border-radius(5px);
			.box-shadow(0px 4px 0px 0px @uiBlueDarker);
			outline:none;
			border:none;
			padding:5px 20px;
			font-size:@defaultTextSize;
			color: @defaultTextColor;
			background:@uiBlue;
			.transition(all .3s ease);

			&:hover{ color:@defaultTextColor; text-decoration:none; }


			//Sizes
			&.ui-small{ padding:5px 20px; font-size:@defaultTextSize; }
			&.ui-medium{ padding:8px 25px; font-size:@defaultTextMediumSize; }
			&.ui-large{ padding:10px 30px; font-size:@defaultTextLargeSize; }


			//Colors
			&.ui-blue{
				.box-shadow(0 4px 0 0 @uiBlueDarker); background:@uiBlue;
				&:hover{ .box-shadow(0 4px 0 0 @uiBlue); background:@uiBlueBrighter; }
			}

			&.ui-red{
				.box-shadow(0 4px 0 0 @uiRedDarker); background:@uiRed;
				&:hover{ .box-shadow(0 4px 0 0 @uiRed); background:@uiRedBrighter; }
			}

			&.ui-green{
				.box-shadow(0 4px 0 0 @uiGreenDarker); background:@uiGreen;
				&:hover{ .box-shadow(0 4px 0 0 @uiGreen); background:@uiGreenBrighter; }
			}
		}


		.ui-progress-button {
			position: relative;
			display: inline-block;
			padding: 5px 20px;
			outline: none;
			border: none;
			font-weight:normal;
			background: @uiBlue;
			color: @defaultTextColor;
			font-size: @defaultTextSize;
			overflow:hidden;
			.border-radius(5px);
			.transition(all 0.3s);
			.box-shadow(0px 4px 0px 0px @uiBlueDarker);

			.content{
				position: relative;
				z-index:2;
				display: block;
				.transition(all 0.3s);

				&::before, &::after  {
					position: absolute;
					bottom: -30px;
					margin:auto;
					left:0; right:0;
					color: rgba(0,0,0,0.2);
					opacity: 0;
					font-family:"FontAwesome";
					.transition(opacity 0.3s);
				}

				&::before{ content: "\f00c"; }
				&::after{ content: "\f00d"; }
			}

			&.success{ background: @uiGreen; }
			&.error{ background: @uiRed; }
			&.success .content, &.error .content{ .transform(translateY(-30px)); }
			&.success .progress, &.error .progress{ opacity:0; }
			&.success .content::before, &.error .content::after { opacity: 1; }

			//Sizes
			&.ui-small{ padding:5px 20px; font-size:@defaultTextSize; }
			&.ui-medium{ padding:8px 25px; font-size:@defaultTextMediumSize; }
			&.ui-large{ padding:10px 30px; font-size:@defaultTextLargeSize; }


			//Colors
			&.ui-blue{
				background:@uiBlue; .box-shadow(0px 4px 0px 0px @uiBlueDarker);
				&:hover{ background:@uiBlueBrighter; .box-shadow(0px 4px 0px 0px @uiBlue); }
			}

			&.ui-red{
				background:@uiRed; .box-shadow(0px 4px 0px 0px @uiRedDarker);
				&:hover{ background:@uiRedBrighter; .box-shadow(0px 4px 0px 0px @uiRed); }
			}

			&.ui-green{
				background:@uiGreen; .box-shadow(0px 4px 0px 0px @uiGreenDarker);
				&:hover{ background:@uiGreenBrighter; .box-shadow(0px 4px 0px 0px @uiGreen); }
			}

			.progress{
				z-index:1;
				position:absolute;
				display:block;
				width:0%;
				height:200%;
				background:rgba(0,0,0,0.1);
				top:-50%; left:0;
				.border-radius(0);
				.transition(all 0.3s);
			}

			&.ui-no-shadow{
				.box-shadow(none);
				&:hover{ .box-shadow(none); }
			}
		}


		/* 3.2. INPUTS */
		.ui-input{
			outline:none;
			border:1px solid @uiGrey;
			background:@uiGreyBrighter;
			padding:5px 10px;
			font-weight:@defaultTextWeight;
			font-size:@defaultTextSize;
			color:@uiBlack;

			&.ui-leftside{ .border-radius(5px 0 0 5px); }
			&.ui-rightside{ .border-radius(0 5px 5px 0); }

			&.ui-no-border{ border:none; }
		}
