<div id="leftside-menu">
	<h1>Oddly</h1>

	<ng-form name="search-form">
		<div class="input-wrapper">
			<input type="text" class="search-input" />
		</div>
	</ng-form>

	<nav>
		<ul>
			<h4>Menu</h4>

			<li class="active"><a href="/app"><i class="fa fa-paper-plane"></i> <span>Nouveautés</span></a></li>
			<li><a href="/app/tops"><i class="fa fa-star"></i> <span>Les Tops</span></a></li>
			<li><a href="/app/categories"><i class="fa fa-bars"></i> <span>Catégories</span></a></li>
		</ul>

		<ul>
			<h4>Ma bibliothèque</h4>

			<li><a href="/app/bookshelf/authors"><i class="fa fa-pencil"></i> <span>Auteurs</span></a></li>
			<li><a href="/app/bookshelf/books"><i class="fa fa-book"></i> <span>Livres</span></a></li>
			<li><a href="/app/bookshelf/comics"><i class="fa fa-rocket"></i> <span>Bandes dessinées</span></a></li>
			<li><a href="/app/bookshelf/magazines"><i class="fa fa-tag"></i> <span>Magazines</span></a></li>
			<li><a href="/app/bookshelf/newspaper"><i class="fa fa-newspaper-o"></i> <span>Journaux</span></a></li>
		</ul>
	</nav>
</div>
