<div id="leftside-menu">
	<h1>Oddly</h1>

	<p class="search">
		<a href="/app/search"><i class="fa fa-search"></i> <span translate="{{ 'APP.LEFTSIDE.SEARCH.BUTTON' }}">Rechercher</span></a>
	</p>

	<nav>
		<ul>
			<h4 translate="{{ 'APP.LEFTSIDE.MENU.TITLE' }}">Menu</h4>

			<li class="active"><a href="/app"><i class="fa fa-paper-plane"></i> <span translate="{{ 'APP.LEFTSIDE.MENU.FRESH' }}">Nouveautés</span></a></li>
			<li><a href="/app/tops"><i class="fa fa-star"></i> <span translate="{{ 'APP.LEFTSIDE.MENU.TOPS' }}">Les Tops</span></a></li>
			<li><a href="/app/categories"><i class="fa fa-bars"></i> <span translate="{{ 'APP.LEFTSIDE.MENU.CAT' }}">Catégories</span></a></li>
		</ul>

		<ul>
			<h4 translate="{{ 'APP.LEFTSIDE.BOOKSHELF.TITLE' }}">Ma bibliothèque</h4>

			<li><a href="/app/bookshelf/authors"><i class="fa fa-pencil"></i> <span translate="{{ 'APP.LEFTSIDE.BOOKSHELF.AUTHORS' }}">Auteurs</span></a></li>
			<li><a href="/app/bookshelf/books"><i class="fa fa-book"></i> <span translate="{{ 'APP.LEFTSIDE.BOOKSHELF.BOOKS' }}">Livres</span></a></li>
			<li><a href="/app/bookshelf/comics"><i class="fa fa-rocket"></i> <span translate="{{ 'APP.LEFTSIDE.BOOKSHELF.COMICS' }}">Bandes dessinées</span></a></li>
			<li><a href="/app/bookshelf/magazines"><i class="fa fa-tag"></i> <span translate="{{ 'APP.LEFTSIDE.BOOKSHELF.MAGAZINES' }}">Magazines</span></a></li>
			<li><a href="/app/bookshelf/newspaper"><i class="fa fa-newspaper-o"></i> <span translate="{{ 'APP.LEFTSIDE.BOOKSHELF.NEWSPAPERS' }}">Journaux</span></a></li>
		</ul>
	</nav>
</div>
