<footer class="main-footer">
	<div class="container">

		<div class="col-lg-10">
			<nav role="menubar">
				<ul class="clearfix">
					<li><a href="/about" translate="{{ 'STATIC_FOOTER_MENU_ABOUT' }}">A propos</a></li>
					<li><a href="/jobs" translate="{{ 'STATIC_FOOTER_MENU_JOBS' }}">Carrières</a></li>
					<li><a href="/about/press" translate="{{ 'STATIC_FOOTER_MENU_PRESS' }}">Presse</a></li>
					<li><a href="/news" translate="{{ 'STATIC_FOOTER_MENU_NEWS' }}">Actualités</a></li>
				</ul>
			</nav>

			<p class="copyright">&copy; 2014 Oddly</p>
		</div>
		<div class="col-lg-2">
			<span id="locale_selector" class="dropup">
				<a href class="dropdown-toggle" data-toggle="dropdown">{{ selected.name || 'Français' }} <flag country="{{ selected.code || 'fr' }}" size="16" /></a>
				<ul class="dropdown-menu">
					<li><a href="javascript:;" ng-click="setLocale('Français', 'fr', 'fr_FR')">Français (FR) <flag country="fr" size="16" /></a></li>
					<li><a href="javascript:;" ng-click="setLocale('English', 'us', 'en_US')">English (US) <flag country="us" size="16" /></a></li>
				</ul>
			</span>
		</div>
	</div>
</footer>
