<header class="main-header">
	<div class="container">
		<h1>Oddly</h1>

		<nav role="menu" class="main-nav navbar-nav navbar-right">
			<ul>
				<li ng-class="{ active:activeRoute('/pricing') }"><a href="/pricing" translate="{{ 'STATIC.HEADER.MENU.PRICING' }}">Abonnement</a></li>
				<li ng-class="{ active:activeRoute('/help') }"><a href="/help" translate="{{ 'STATIC.HEADER.MENU.HELP' }}">Aide</a></li>
				<li class="special-link"><a href="/signin" translate="{{ 'STATIC.HEADER.MENU.SIGNIN' }}">Connexion</a></li>
			</ul>
		</nav>
	</div>
</header>
