<section id="search" ng-controller="SearchCtrl">
	<div>
		<h4>Search Oddly</h4>
		<input type="text" ng-model="query" ng-keyup="search(query)" autofocus>
		<div class="search-icon"><i class="fa fa-search"></i></div>
	</div>
	<div class="results">
		<div class="result-column" ng-if="_search.artist">
			<h3>Artists</h3>
			<div ng-repeat="artist in _search.artist | orderBy: 'name' ">
				<div class="result-artist">
					<div class="artist-picture" style="background-image: url({{ SERVER.METHOD }}{{ SERVER.CDN }}/artist/thumb/{{ artist._id }}/small)"></div>
					<a ng-href="/app/artist/{{ artist._id }}">{{ artist.name }}</a>
				</div>
			</div>
		</div>
		<div class="result-column" ng-if="_search.items">
			<h3>Items</h3>
			<div ng-repeat="item in _search.items | orderBy: 'title' ">
				<div class="result-item">
					<div class="item-picture" style="background-image: url({{ SERVER.METHOD }}{{ SERVER.CDN }}/item/cover/{{ item._id }}/small)"></div>
					<a ng-href="/app/item/{{ item._id }}">{{ item.title }}</a>
				</div>
			</div>
		</div>
		<div class="result-column" ng-if="_search.editor">
			<h3>Editors</h3>
			<p ng-repeat="editor in _search.editor | orderBy: 'name' ">{{ editor.name }}</p>
		</div>
		<div class="result-column" ng-if="_search.category">
			<h3>Category</h3>
			<p ng-repeat="category in _search.category | orderBy: 'name' ">
				<a ng-href="/app/fresh/{{ category.name }}">{{ category.name }}</a>
			</p>
		</div>
	</div>
</section>