<section id="search" ng-controller="SearchCtrl">
	<div>
		<input type="text" placeholder="Search" ng-model="query" ng-keyup="search(query)">
		<div class="search-icon"><i class="fa fa-search"></i></div>
	</div>
	<div>
		{{ _search | json }}
		<div ng-if="_search.items" ng-repeat="item in _search.items">
			{{ item }}
		</div>
		<div ng-if="_search.editors" ng-repeat="editor in _search.editors">
			{{ editor }}
		</div>
		<div ng-if="_search.artists" ng-repeat="artist in _search.artists">
			{{ artist }}
		</div>
		<div ng-if="_search.category" ng-repeat="category in _search.category">
			{{ category }}
		</div>
	</div>
</section>