<div class="main-app app-single-item">
	<ng-include src="'/views/fragments/app_menu.html'"></ng-include>

	<div class="content" resize>
		<div ng-if="item.title" class="single-item-container" style="background-image:url({{SERVER.METHOD}}{{SERVER.CDN}}/item/background/{{ item._id }}/large);">
			<div class="single-item-wrapper">
				<a href="" class="go-back" ng-click="back()"><i class="fa fa-chevron-circle-left"></i> <span>Retour</span></a>

				<div class="single-item-inner">
					<div class="thumb">
						<div class="thumb-inner" style="background-image:url({{SERVER.METHOD}}{{SERVER.CDN}}/item/cover/{{ item._id }}/large)"></div>
					</div>
					<div class="infos">
						<p class="authors">
							<span ng-repeat="artist in item.artists"><a class="authors_name" ng-href="/app/artist/{{ artist._id }}">{{ artist.name }}</a></span>
						</p>
						<h3 class="title">{{ item.title }}</h3>
						<p class="other_infos">
							<span>{{ item.categories|implode:'name':', ' }}</span>
							<span>{{ item.editors|implode:'name':', ' }}</span>
							<span>{{ item.edition_date|toYear }}</span>
							<span ng-bind-html="item.rank|toStars"></span>
						</p>
						<p ng-bind-html="item.synopsis.text|nl2br" class="synopsis">{{ item.synopsis.text|nl2br }}</p>

						<a ng-click="readlater(item._id)" ng-class="{'ui-blue': addedToReadLater == false, 'ui-grey ui-no-hover': addedToReadLater == true }" class="later-button ui-button ui-no-shadow ui-empty">
							<span ng-if="addedToReadLater == true"><i class="fa fa-check"></i> Ajouté !</span>
							<span ng-if="addedToReadLater == false">Lire plus tard</span>
						</a>
						<a ng-href="/app/read/{{ item._id }}" class="read-button ui-button ui-blue ui-no-shadow" translate="{{'APP.SINGLE.BUTTONS.READ'}}">Lire maintenant !</a>
						<a ng-click="save(item._id)" class="save-button ui-button ui-no-shadow saved" ng-class="{ 'ui-blue': addedToBookshelf == false, 'ui-red': addedToBookshelf == true }"><i class="fa fa-heart"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
