<div class="main-app app-artist">
	<ng-include src="'/views/fragments/app_menu.html'"></ng-include>

	<div class="content">
		<div ng-if="artist" class="artist-cover" style="background-image:url({{SERVER.METHOD}}{{SERVER.CDN}}/artist/cover/{{ artist._id }}/large);">
			<div class="artist-cover-wrapper">
				<div class="container">
					<h2>
						<span class="artist-name">{{ artist.name }}</span>
						<span class="artist-type">{{ types[artist.type] }}</span>
					</h2>
					<span class="artist-rating" ng-bind-html="artist.rank|toStars"></span>
				</div>
			</div>
		</div>

		<div class="container">
			<p class="artist-bio" ng-bind-html="artist.bio[0].text|nl2br">{{artist.bio[0].text|nl2br}}</p>

			<h3 class="artist-popular">Les Plus Populaires</h3>

			<ul class="inline-items-list">
				<li class="item" ng-repeat="item in artist.popular">
					<a ng-href="/app/item/{{ item._id }}">
						<div class="thumb-wrapper">
							<div class="thumb" style="background-image:url({{SERVER.METHOD}}{{SERVER.CDN}}/item/cover/{{ item._id }}/small);"></div>
						</div>
						<p class="title">{{ item.title }}</p>
						<p ng-if="item.artists != ''" class="artist">{{ item.artists }}</p>
						<p ng-if="item.artists == ''" class="artist">{{ item.editors }}</p>
					</a>
				</li>
			</ul>
		</div>

		<div class="clearfix"></div>
	</div>
</div>
