<ng-include src="'/views/fragments/app_menu.html'"></ng-include>

<div class="content">
	<div ng-if="advert.image" class="home-highlight" style="background-image:url(/dummy/fresh/ad/{{ advert.image.url }}); background-position:{{ advert.image.x }} {{ advert.image.y }};">
		<div class="home-highlight-wrapper">
			<div class="home-highlight-caption" style="top:{{ advert.caption.position[0] }}px; right:{{ advert.caption.position[1] }}px; bottom:{{ advert.caption.position[2] }}px; left:{{ advert.caption.position[3] }}px;">
				<h2>{{ advert.caption.title }}</h2>
				<p>{{ advert.caption.text }}</p>
				<a ng-href="{{ advert.caption.button.url }}" class="ui-button ui-blue ui-no-shadow">Découvrir</a>
			</div>
		</div>
	</div>

	<h3>Livres <a href="/app/fresh/books" class="more-button">Plus</a></h3>
	<ul class="inline-items-list">
		<li class="item" ng-repeat="book in items.books">
			<a ng-href="/app/item/{{ book._id }}">
				<div class="thumb-wrapper"><div class="thumb" style="background-image:url(/dummy/fresh/covers/{{ book._id }}.jpg);"></div></div>
				<p class="title">{{ book.name}}</p>
				<p class="artist">{{ book.infos.artist }}</p>
			</a>
		</li>
	</ul>
</div>
