<div resize class="landing">
	<div class="landing-wrapper">
		<h1>Oddly</h1>

		<form name="subscribeForm" ng-controller="LandingCtrl">
			<input class="ui-input ui-leftside ui-no-border" type="email" required ng-model="user.mail" /><button ng-click="subscribe(user)" class="ui-progress-button ui-green ui-no-shadow"><span class="content" translate="{{'LANDING.BUTTON'}}">S'enregistrer</span><span class="progress"></span></button>
		</form>

		<h2 translate="{{'LANDING.SUBTITLE'}}">Restez informé de l'évolution d'<strong>Oddly</strong>. Ça approche à grands pas.</h2>
	</div>
</div>
