<div class="static">
	<ng-include src="'/views/fragments/header.html'"></ng-include>

	<div class="container">
		<nav class="submenu" role="menubar">
			<ul class="clearfix">
				<h4 translate="{{ 'STATIC.ABOUT.MENU.TITLE' }}">A propos</h4>
				<li ng-class="{ active:activeRoute('/about') }"><a href="/about" translate="{{ 'STATIC.ABOUT.MENU.US' }}">Notre histoire</a></li>
				<li ng-class="{ active:activeRoute('/about/legal') }"><a href="/about/legal" translate="{{ 'STATIC.ABOUT.MENU.LEGAL' }}">Mentions légales</a></li>
				<li ng-class="{ active:activeRoute('/about/policy') }"><a href="/about/policy" translate="{{ 'STATIC.ABOUT.MENU.PRIVACY' }}">Politique de confidentialité</a></li>
				<li ng-class="{ active:activeRoute('/about/press') }"><a href="/about/press" translate="{{ 'STATIC.ABOUT.MENU.PRESS' }}">Presse</a></li>
			</ul>
		</nav>
	</div>

	<div class="container">
		<div class="col-lg-8">

			<div class="text-wrapper text-justify">
				<h3>Introduction</h3>
				<p>Oddly, est une entreprise permettant la lecture, en ligne, d’un contenu mis à disposition sous réserve de ce qui suit.</p>
				<p>En utilisant le service Oddly vous vous liez par contrat à notre entreprise. Ainsi vous devrez vous soumettre aux prsentes conditions d’utilisation, ainsi qu’à notre politique de confidentialité et notre application mobile.</p>
				<p>A défaut de consentement à la partie sus vise, n’utilisez pas notre service. </p>
				<p>S’agissant de la conclusion d’un contrat, l’utilisation de notre service exige le respect des articles ,  et  du code civil. Plus prcisment vous devez donc tre âg d’au moins 18 ans, ou alors au minimum 15 ans et recueillir le consentement de votre représentant légal. Vous vous soumettez également à la force obligataire contractuelle dfinie à l’article  du code civil. ênfin vous garantissez l’exactitude des informations fournies à oddly.fr.</p>

				<h3>Modification unilatérale des contrats par Oddly</h3>
				<p>Afin de permettre à Oddly de se dvelopper comme il l’entend, le Service se rserve le droit de modifier unilatralement les prsentes conditions d’utilisation.  és lors, Oddly s’engage à informer des modifications effectuées à ses utilisateurs, via le compte de l’utilisateur.</p>

				<h3>Utilisation d'Oddly</h3>
				<p>L’utilisation du service prsuppose la souscription à la/ une formule d’abonnement de Oddly.</p>
				<p>L’abonnement de 1 mois à 4,99€ par mois :</p>
				<ul>
					<li>L’abonnement sera reconduit tacitement à expiration de ce dernier </li>
					<li>S’il le souhaite l’utilisateur pourra rsilier son abonnement. Pour se faire, il devra signifier au service client / ou utiliser le service prvu à cet effet d'Oddly sa volont de ne pas reconduire son abonnement et ce avant l’expiration du dit abonnement. </li>
				</ul>
				<p>Offre d'essai</p>
				<ul>
					<li>L'offre d'essai sera d'un mois par utilisateur unique </li>
					<li>A la fin de la dure susvise, l’utilisateur verra ses services bloqus s’il ne souscrit pas à un abonnement prévu par Oddly</li>
				</ul>

				<h3>Licence et cession</h3>
				<p>Le service proposé par ODDLY, ainsi que tout le contenu présent sur le site sont la proprit d’Oddly ou des concdant. Par consquent, OéLLY n’accorde qu’une licence d’utilisation, non exclusive, non commerciale et pour un usage priv des utilisateurs, du contenu présent sur le site. </p>
				<p>Il en va de même concernant les contenus présents sur les applications mobiles. En aucun cas l’utilisateur se retrouve propritaire des applications et de son contenu. </p>
				<p>La licence ainsi concédée ne permet pas à l’utilisateur l’exploitation de la marque, du nom de domaine, de son contenu, des applications ODDLY dans un but commercial. Si tel était le cas, l’utilisateur se retrouvera coupable de parasitisme ou de concurrence dloyale, sanctionn par l’article 1382 du code civil. Une action en dédommagement et en cessation de l’activit parasitaire ou dloyale pourrait alors tre engage par Oddly </p>

				<h3>Obligation de l'utilisateur</h3>
				<p>En contrepartie des droits concds par licence, l’utilisateur s’engage à : </p>
				<ul>
					<li>Payer son abonnement, consistant en la contrepartie subjective des droits concédés.</li>
					<li>Utiliser les droits concédés uniquement dans une sphère privée ou familiale.</li>
					<li>Respecter le droit auteur français codifié dans le code de la propriété intellectuelle.</li>
					<li>Ces informations ne sauraient être exhaustive de l’ensemble des dispositions auxquelles l’utilisateur se retrouve tre soumis. Oddly invite donc l’utilisateur à se renseigner avant toute utilisation du contenu d’Oddly pour la mise à disposition du public</li>
					<li>Rester seul et unique titulaire de la licence accorde. Ainsi l’utilisateur ne pourra cder ses droits à une tierce personne, sans violer les fondements du droit contractuel.</li>
					<li>Utiliser de manière raisonnable les droits concédés, tel que le prévoit la loi du 4 aout 2014 <a href="http://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000029330832" target="_blank">http://www.legifrance.gouv.fr/</a></li>
				</ul>

				<h3>Droit applicable</h3>
				<p>oddly.fr se retrouve soumis au droit français. S’applique ainsi le droit de la proprit intellectuelle français. En conséquence, Oddly, pouvant être que le cessionnaire des contenus mis à dispositions, il ne pourra en aucun cas être tenu comme responsable du retrait des contenus, du fait de l’exercice du droit moral des auteurs</p>
				<p>En cas de contentieux et de saisine judiciaire, les parties devront se soumettre aux règles de procédure civile française, prévues par le code de procédure civile. Ainsi, le tribunal saisi en cas de conflit sera, le tribunal du domicile ou du siège social du défendeur.</p>
				<p>EN cas d’utilisation du service par un utilisateur tranger, ce dernier s’engage, s’il est demandeur, à saisir une juridiction française. </p>

				<h3>Garantie du service</h3>
				<p>Oddly fournit le service, objet du présent contrat, « en l'état ». ên ce sens, bien qu'Oddly s’efforcera de fournir la meilleure qualit de service possible, il ne s’agit que d’une obligation de moyen au regard de la législation française. Dès lors Oddly ne pourra être tenu comme responsable en cas de disfonctionnement du service, que cela concerne directement la mise à disposition du contenu, le fonctionnement du site, de l’application mobile, ou de toute autre partie du service</p>
				<p>En conséquence, Oddly décline toute garantie expresse ou tacite vis-à-vis du service proposé</p>

				<h3>Résiliation du contrat par Oddly</h3>
				<p>Outre la possibilit offerte à l’utilisateur, de mettre fin à son abonnement, Oddly se rserve le droit, en cas de violation des prsentes conditions gnrales d’utilisation, de résilier votre abonnement ainsi que de procéder à la suppression de votre compte. Dans ce cas, aucun remboursement ne sera effectué par Oddly. </p>
			</div>
		</div>
	</div>

	<ng-include src="'/views/fragments/footer.html'"></ng-include>

</div>