<div resize class="signin">
	<header class="clearfix">
		<h1><a href="http://www.oddly.fr">Oddly</a></h1>
	</header>

	<div class="container">
		<div class="col-lg-2"></div>
		<div class="wrapper col-lg-8">
		<div class="col-lg-6 register">
			<h2 translate="{{ 'REGISTER.TITLE' }}">Créez votre compte</h2>

			<div ng-if="register_error" class="alert alert-warning" role="alert">
				<strong>{{ register_error.code }}</strong>
				<p>{{ register_error.message }}</p>
			</div>

			<form name="registerForm" ng-submit="register(reg)">
				<p class="form-item">
					<label for="register_username" translate="{{ 'REGISTER.EMAIL' }}">Adresse e-mail</label>
					<input 
						class="ui-input" 
						ng-class="(registerForm.register_username.$error.pattern && registerForm.submitted) ? 'form-error' : ''" 
						type="text" 
						name="register_username" 
						ng-model="reg.email" 
						ng-required="true"
						ng-pattern="/^([a-zA-Z0-9_\.]+)@([a-zA-Z0-9]+)\.([a-z]{2,})$/" />
				</p>
				<p class="form-item">
					<label for="register_password" translate="{{ 'REGISTER.PASSWORD' }}">Choisissez un mot de passe</label>
					<input 
						class="ui-input" 
						type="password" 
						name="register_password" 
						ng-model="reg.password" 
						ng-required="true" />
				</p>
				<p class="form-item">
					<label for="register_password_repead" translate="{{ 'REGISTER.PASSWORD_REPEAT' }}">Répétez le mot de passe</label>
					<input 
						class="ui-input" 
						ng-class="((user.password != user.password_repeat) && registerForm.submitted) ? 'registerForm_error' : ''"
						type="password" 
						name="register_password_repeat" 
						ng-model="reg.password_repeat" 
						ng-required="true" />
				</p>
				<p class="form-item checkbox">
					<label><input type="checkbox" name="register_cgu" ng-model="reg.policy" value="true" ng-required="true"/> <span translate="{{ 'REGISTER.POLICY' }}">J’accepte la <a href="/policy">Politique de Confidentialité</a> et les
					<a href="/terms">Conditions Générales d’Utilisation</a> d’Oddly</span></label>
				</p>
				<p class="form-item">
					<button class="ui-progress-button ui-green" translate="{{ 'REGISTER.BUTTON' }}">Créer un compte</button>
				</p>
			</form>
		</div>

		<div class="col-lg-6 sign-in clearfix">
			<h2 translate="{{ 'LOGIN.TITLE' }}">S'identifier</h2>

			<div ng-if="login_error" class="alert alert-warning" role="alert">
				<strong>{{ login_error }}</strong>
				<p>{{ login_error.message }}</p>
			</div>

			<form name="login-form" ng-submit="login(user)">
				<p class="form-item">
					<label for="username" translate="{{ 'LOGIN.EMAIL' }}">E-mail</label>
					<input class="ui-input" type="text" name="username" ng-required="true" ng-model="user.username" />
				</p>
				<p class="form-item">
					<label for="password" translate="{{ 'LOGIN.PASSWORD' }}">Mot de passe</label>
					<input class="ui-input" type="password" name="password" ng-required="true" ng-model="user.password" />
				</p>
				<p class="form-item">
					<button class="ui-progress-button ui-green" translate="{{ 'LOGIN.BUTTON' }}">S'identifier</button>
				</p>
			</form>
		</div>
		</div>
		<div class="col-lg-2"></div>
	</div>
</div>
